body {
    background-color: #f1f5f9;
}

.profile {
  max-width: 400px;
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(241, 163, 241);
  text-align: left;
  border-radius: 8px;
}



h1{
    text-align: center;
    border-radius: 20px;
    background-color: white;
}