body{
    font-family:Arial;
    text-align:center;
    background-color:skyblue;
}

.title{
    color:blue;
}

.nav{
    display:flex;
    justify-content:center;
    gap:10px;
}

.nav a{
    color:black;
    text-decoration:none;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.box{
    border:1px solid black;
    padding:5px;
    margin:5px;
}
@media(max-width:600px){
    .grid{grid-template-columns:1fr;}
}
